div#formulario.svelte-syikjk{background-color:#f8bbd0;padding:10px;font-family:Comic Sans MS, Comic Sans, cursive;color:#880e4f
    }body{margin:0;padding:0px}div#body.svelte-syikjk{background-color:#fbe9e7;height:100em;padding:10px;font-family:Comic Sans MS, Comic Sans, cursive;color:#ff5c8d
    
        
    }